<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<table>
    <tr>
        <td style="padding: 10px; background-color: lightskyblue">Trace ID</td>
        <td style="padding: 10px; background-color: lightskyblue">Flow diagram</td>
        <td style="padding: 10px; background-color: lightskyblue">Sequence diagram</td>
        <td style="padding: 10px; background-color: lightskyblue">Communication diagram</td>
    </tr>
    <tr th:each="trace : ${traces}">
        <td style="padding: 10px" th:text="${trace[0].traceId}">123</td>
        <td style="padding: 10px"><a href="#">View</a> </td>
        <td style="padding: 10px"><a th:href="@{'/trace/' + ${trace[0].traceId}}">View</a> </td>
        <td style="padding: 10px"><a href="#">View</a> </td>
    </tr>
</table>

</body>
</html>