<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:form="http://www.springframework.org/tags/form">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script>
        function decideOnCalendar(){
            var lookback = document.getElementById("lookback");
            var selection = lookback.options[lookback.selectedIndex].value;

            var calendarFrom = document.getElementById("date-from");
            var calendarTo = document.getElementById("date-to");
            if (selection === "custom"){
                calendarFrom.style.display = "inline";
                calendarTo.style.display = "inline";
            } else{
                calendarFrom.style.display = "none";
                calendarTo.style.display = "none";
            }
        }

        function validate() {
            var validationError = document.getElementById("validation-error");
            validationError.style.display = "none";

            var lookback = document.getElementById("lookback");
            var selection = lookback.options[lookback.selectedIndex].value;
            if(selection === "custom") {
                var calendarFrom = document.getElementById("date-from");
                var calendarTo = document.getElementById("date-to");

                var from = calendarFrom.value;
                var to = calendarTo.value;

                if (!from || !to || from.localeCompare(to) >= 0){
                    validationError.style.display = "inline";
                    return false;
                }
            }
            return true;
        }
    </script>
</head>
<body onload="decideOnCalendar();validate()">

<h3>Trace search</h3>
<form action="#" th:action="@{/traces}" th:object="${filter}" method="post">
    <table>
        <tr>
            <td>Service</td>
            <td><input type="text" th:field="*{service}" /></td>
        </tr>
        <tr>
            <td>Lookback</td>
            <td>
                <select th:field="*{lookback}" id="lookback" onchange="decideOnCalendar()">
                    <option value="3600000"> Last 1 hour</option>
                    <option value="10800000">Last 3 hours</option>
                    <option value="21600000">Last 6 hours</option>
                    <option value="43200000">Last 12 hours</option>
                    <option value="86400000">Last 1 day</option>
                    <option value="172800000">Last 2 days</option>
                    <option value="604800000">Last 7 days</option>
                    <option value="custom">Custom</option>
                </select>
                <input type="date" data-date-format="DD/MM/YYYY" th:field="*{from}" id="date-from"/>
                <input type="date" data-date-format="DD/MM/YYYY" th:field="*{to}" id="date-to"/>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <p style="color: red" id="validation-error"> Provided dates are not valid, please enter valid dates</p>
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit" onclick="return validate()"/></td>
        </tr>
    </table>
</form>

<table>
    <tr>
        <td style="padding: 10px; background-color: lightskyblue">Trace ID</td>
        <td style="padding: 10px; background-color: lightskyblue">Flow diagram</td>
        <td style="padding: 10px; background-color: lightskyblue">Sequence diagram</td>
        <td style="padding: 10px; background-color: lightskyblue">Communication diagram</td>
    </tr>
    <tr th:each="trace : ${traces}">
        <td style="padding: 10px" th:text="${trace[0].traceId}">123</td>
        <td style="padding: 10px"><a th:href="@{'/trace/flow/' + ${trace[0].traceId}}">View</a> </td>
        <td style="padding: 10px"><a th:href="@{'/trace/sequence/' + ${trace[0].traceId}}">View</a> </td>
        <td style="padding: 10px"><a th:href="@{'/trace/communication/' + ${trace[0].traceId}}">View</a> </td>
    </tr>
</table>

</body>
</html>