<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN"
        "http://www.w3.org/TR/html4/frameset.dtd">
<html xmlns:th="http://www.thymeleaf.org"  xmlns:form="http://www.springframework.org/tags/form">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <script>
        function resizeIframe(obj) {
            obj.style.height = (obj.contentWindow.document.body.scrollHeight + 20) + 'px';
        }
    </script>
</head>
<body>

<h3>Flow diagram</h3>
<iframe frameborder="0" width="100%" scrolling="no" onload="resizeIframe(this)" th:src="@{'/trace/flow/' + ${traceId}}"></iframe>

<h3>Sequence diagram</h3>
<iframe frameborder="0" width="100%" scrolling="no" onload="resizeIframe(this)" th:src="@{'/trace/sequence/' + ${traceId}}"></iframe>

<h3>Communication diagram</h3>
<iframe frameborder="0" width="100%" scrolling="no" onload="resizeIframe(this)" th:src="@{'/trace/communication/' + ${traceId}}"></iframe>

</body>
</html>